<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hash</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <style>
            @import url('https://fonts.googleapis.com/css?family=Inconsolata|Oxygen');

            html{
                box-sizing: border-box;
                font-size: 10px;
                line-height: 20px;
                font-family: 'Oxygen', sans-serif;
            }

            html *,
            html *::before,
            html *::after{
                box-sizing: inherit;
            }

            body{
                display: grid;
                font-size: 1.5rem;
                grid-gap: 2rem;
                grid-template-columns: repeat( 3, 1fr );
                line-height: 2.25rem;
                max-width: 100rem;
                margin: auto;
                padding: 2rem;
            }

            input:not([type="checkbox"]),
            select{
                width: 100%;
                border: 0;
                border-bottom: 1px solid #CCCCCC;
            }

            select{
                padding: 1rem;
                margin-bottom: 1rem;
            }

            body > div{
                text-align: center;
                padding: 1rem;
            }

            #main input{
                padding: 1rem 3.25rem 1rem 1rem;
                margin-left: -1.6rem;
            }

            #main span.fa{
                margin-left: -3.5rem;
            }

            #options{
                text-align: left;
            }

            #options h2{
                text-align: center;
            }

            #options > div,
            #options > label{
                width: 100%;
            }

            #options #limit{
                display: grid;
                grid-template-columns: repeat( 2, 50% );
            }

            #options #limit input:not([type="checkbox"]){
                width: calc( 100% - 2em );
            }

            #hash{
                font-family: 'Inconsolata', monospace;
                padding: 1.5rem;
                word-break: break-all;
            }

            @media all and (max-width: 799px){
                body{
                    display: block;
                }

                body > div{
                    margin: auto;
                    width: 90%;
                }
            }
        </style>
    </head>
    <body>
        <script type="module">
            import Ractive from "https://cdn.skypack.dev/ractive@1.1.1?min";

            Ractive.DEBUG = false;
            var viewTemplate = Ractive.parse( `
                <div id="main">
                    <h2>Your Input</h2>
                    <input type="{{ input }}" value="{{ password }}" /><span
                        class="fa fa-fw"
                        class-fa-eye="!visible"
                        class-fa-eye-slash="visible"
                        on-click="toggle">
                    </span>
                </div>
                <div id="options">
                    <h2>Encoding Options</h2>
                    <select value="{{ algo }}">
                        {{ #algorithms }}
                            <option value="{{ .name }}">{{ .display }}</option>
                        {{ / }}
                    </select>
                    <label>
                    <input type="checkbox" checked="{{ base64 }}" />
                    Base64 encode the final result
                    </label>
                    <div id="limit">
                        <label>
                            <input type="checkbox" checked="{{ limit }}" />
                            Limit Length
                        </label>
                        {{ #limit }}
                        <div>
                            =
                            <input type="number" value="{{ length }}" />
                        </div>
                        {{ / }}
                    </div>
                </div>
                <div id="output">
                    <h2>Result</h2>
                    <div id="hash">{{ output }}</div>
                </div>
            ` );

            function run(){
                var view = Ractive( {
                    "el": document.body,
                    "template": viewTemplate,

                    data(){
                        return {
                            "password": "",
                            "visible": false,
                            "length": null,
                            "limit": false,
                            "base64": false,
                            "algo": "whirlpool",
                            "hashes": {}
                        }
                    },
                    "computed": {
                        input(){
                            var visible = this.get( "visible" );

                            return visible ? "text" : "password";
                        },
                        algorithms(){
                            var hashes = this.get( "hashes" );

                            return Object
                                .keys( hashes )
                                .map( ( name ) => ( {
                                    "display": name,
                                    name
                                } ) );
                        },
                        output(){
                            var algo = this.get( "algo" );
                            var hashes = this.get( "hashes" );
                            var limit = this.get( "limit" );
                            var base64 = this.get( "base64" );
                            var length = this.get( "length" );

                            var hash = hashes[ algo ];
                            var value = hash || "";

                            if( base64 ){
                                value = btoa( value );
                            }

                            if( limit && length ){
                                value = value.substr( 0, length );
                            }
                            
                            return value;
                        }
                    },

                    "on": {
                        init(){
                            this.debounce = false;
                        },
                        render(){
                            this.find( "#main input" ).focus();
                        },
                        toggle(){
                            this.togglePassword();
                        }
                    },
                    "observe": {
                        password( newPass ){
                            if( this.debounce ){
                                clearTimeout( this.debounce );
                            }
                            
                            this.debounce = setTimeout( () => {
                                fetch(
                                    `https://hash.thomasrandolph.info/.netlify/functions/hash/?input=${newPass}`,
                                    {
                                        "headers": {
                                            "Content-Type": "application/json;charset=UTF-8"
                                        },
                                        "mode": "cors"
                                    }
                                )
                                .then( ( response ) => response.json() )
                                .then( ( hashes ) => this.set( "hashes", hashes ) );
                            }, 500 );
                        }
                    },

                    togglePassword(){
                        this.set( "visible", !this.get( "visible" ) );
                    }
                } );
            }

            run();
        </script>
    </body>
</html>
